.results-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.results-cont h2 {
	text-align: center;
}
.results-cont strong {
	font-size: 1.2rem;
	text-align: center;
	margin: 10px 0;
}
.results-cont button {
	margin-top: 20px;
}
.results-cont a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
}