body {
  background-color: #D0FAE5;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
button {
  border: none;
  background-color: #5AD4A8;
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 1.3rem;
  line-height: 1;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 30px;
  background-color: #fff;
  width: 75vw;
  max-width: 900px;
  border-radius: 20px;
  margin: 50px 0;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90vw;
  }
  .maps-cont .edit-yard{
    width: 95%;
    margin: 30px 0 30px 2.5%;
  }
}